* {
    margin: auto;
   }
   /* Background CSS START */
   .outterRed {
    background-color: red;
    height: 145vh;
    display: flex;
    justify-content: space-around;
    flex-direction: colum;
   }
   .outterWhite {
    background-color: rgb(250, 238, 238);
    width: 97%;
    height: 97%;
   }
   /* Background CSS END */
   /* Nav bar code STARTS */
   .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: white;
    height: 7.5%;
   }
   .navigation li {
    font-size: 27px;
    font-weight: bold;
    display: flex;
    padding: 1em;
    color: black;
   }
   /* Nav bar code ENDS */
   /* H1 code */
   .players {
    display: flex;
    padding-top: 6em;
   }
   h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   /* Cards Styling STARTS */
   .allCards {
    width: 94%;
    margin: auto;
    padding-top: 8em;
    display: flex;
    justify-content: space-evenly;
   }
   .card-flip-container {
    height: 600px;
    width: 33%;
    display: inline-block;
   }
   .card {
    position: relative;
    height: 60%;
    width: 300px;
    margin: 0 auto;
    transition: transform .5s;
    transform-style: preserve-3d;
   }
   .frontOfCard,
   .backOfCard {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .frontOfCard {
    background-color: darkblue;
   }
   .frontOfCard img {
    width: 100%;
    height: 100%;
   }
   .backOfCard {
    background-color: rgb(253, 253, 253);
    transform: rotateY(180deg);
   }
   .card-flip-container:hover .card {
    transform: rotateY(180deg)
   }
   .position {
    font-weight: bold;
    font-size: 25px;
   }
   .first-description {
    padding-top: 3em;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    gap: 20px;
   }