* {
    margin: auto;
}


/* Background CSS START */
.outterRed {
    background-color: black;
    height: 145vh;
    display: flex;
    justify-content: space-around;
    flex-direction: colum;
}

.outterWhite {
    width: 97%;
    height: 97%;
    background-image: url('https://images5.alphacoders.com/982/982368.jpg');
}

/* Background CSS END */


/* Nav bar code STARTS */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgb(0, 0, 0);
    background-image: url('https://images5.alphacoders.com/982/982368.jpg');
    height: 2.5%;

}

.navigation li {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    padding: 1em;
    justify-content: center;

    padding-top: 9.5em;
    color: rgb(247, 3, 3);
}
#line {
    padding-left: 2em;
}

#right-wing {
    padding-right: 4.4em
 }
#left-wing {
    padding-left: 4em;
}
#center {
    padding-left: 2em;
}

/* Nav bar code ENDS */

/* H1 code */
.players {
    display: flex;
    padding-top: 5em;
    padding-bottom: 2em;
    background: radial-gradient(circle at 1.4% 1.4%, var(--color-1) .8%, transparent .8%),
            radial-gradient(circle at 5.5% 3%, var(--color-2) .45%, transparent .45%),
            radial-gradient(circle at 2.5% 3.5%, var(--color-3) .5%, transparent .5%),
            radial-gradient(circle at 4.5% 1.2%, var(--color-4) .25%, transparent .25%),
    
            radial-gradient(circle at 98% 98%, var(--color-1) .8%, transparent .8%),
            radial-gradient(circle at 95% 95%, var(--color-2) .45%, transparent .45%),
            radial-gradient(circle at 94.5% 97.5%, var(--color-3) .5%, transparent .5%),
            radial-gradient(circle at 98.5% 95.5%, var(--color-4) .25%, transparent .25%);
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 50px;
}



/* Cards Styling STARTS */


.allCards {
    width: 94%;
    margin: auto;
    padding-top: 8em;
    display: flex;
    justify-content: space-evenly;
  
}

.card-flip-container {
    height: 400px;
    width: 33%;
    display: inline-block;
    padding-top: 2em;
}

.card {
    position: relative;
    height: 100%;
    width: 300px;
    margin: 0 auto;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.frontOfCard,
.backOfCard {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontOfCard img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: solid black 7px;
}

.backOfCard {

    background-color: white;
    transform: rotateY(180deg);
    border-radius: 40px;
    border: solid black 7px;
}


.card-flip-container:hover .card {
    transform: rotateY(180deg)
}

.position {
    font-weight: bold;
    font-size: 25px;
}

.first-description {
    padding-top: 3em;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.position1 {
    flex-direction: row;
}
#number1,#number2 {
padding-left: .7em;
font-size: 45px;
font-weight: bold;
}

#number3 {
padding-left: 1.2em;
font-size: 45px;
font-weight: bold;
}


/* Cards Styling ENDS */